// variables
$background-linear: linear-gradient(180deg, rgba(251, 203, 35, 0.51) 0%, #FFF9EE 100%);
$background-color: #FEDFAD;
$theme-color: #FEA021;
$default-color: #2E2008;
$safe-bottom: constant(safe-area-inset-bottom);
$safe-bottom: env(safe-area-inset-bottom);
